body{
  width:1000px;
  height:100%;
  padding-left:5%;
  background-image: url('../img/download.jpeg');

}
header img{
  float:left;
  height:300px;
}
header{
  text-align: center; 
}
header h1{
  padding-top:10%;
}

section{
  margin:0px auto;
  display: inline-block;
  float:left;
  margin-left: 3px;
  margin-top:10px;
  border:solid;
  padding:1%;
}
section p{
  width:300px;
  color: rgb(99, 17, 85);

}
#movies img{
  float: left;
  width:20%;
  height:20%;
}
ol{
  display:inline-block;
  color: rgb(99,17,85);
}