html {
    height: 100%;
}

body {
    width: 800px;
    height: 100%;
    background-color: #fafce3
}

h2 {
    font-size: 20px;
    width: 150px  
}
p {
    font-size: 15px;
}
img {
    position: fixed;
    bottom: 10%;
    right:15%;
    height: 75%;
}